.d{
    font-size: larger;
}
.t{
    margin-top: 15%;
    margin-left: 3%;
    margin-bottom: 5%;
   
}
.i{
    margin-bottom: 30%;
}

.lis{
    margin-left: 80%;

}
.adm
{
 background-image: url("https://thumbs.dreamstime.com/b/greek-food-background-traditional-different-greek-dishes-set-greek-food-background-traditional-different-greek-dishes-set-top-view-178761927.jpg");
background-repeat:no repeat;
background-size: cover; 
margin-top:-5%;


}

